@font-face {
  font-family: "bebas-neue";
  src: url(../font/bebas___-webfont.woff);
}
@font-face {
  font-family: "Helvetica-neue";
  src: url(../font/HelveticaNeue.woff);
}
$font-title: "bebas-neue";
$font-text:"Helvetica-neue";
$coral:#E7663B;
$pink:#F2AE9C;
$gray:#969696;

